[submodule "components/fox-core"]
	path = components/fox-core
	url = https://github.com/foxui/fox-core.git
[submodule "components/fox-actionsheet"]
	path = components/fox-actionsheet
	url = https://github.com/foxui/fox-actionsheet.git
[submodule "components/fox-dialog"]
	path = components/fox-dialog
	url = https://github.com/foxui/fox-dialog.git
[submodule "components/fox-image-slider"]
	path = components/fox-image-slider
	url = https://github.com/foxui/fox-image-slider.git
[submodule "components/fox-json"]
	path = components/fox-json
	url = https://github.com/foxui/fox-json.git
[submodule "components/fox-content"]
	path = components/fox-content
	url = https://github.com/foxui/fox-content.git
[submodule "components/fox-sidemenu"]
	path = components/fox-sidemenu
	url = https://github.com/foxui/fox-sidemenu.git
[submodule "components/fox-icon"]
	path = components/fox-icon
	url = https://github.com/foxui/fox-icon.git
[submodule "components/fox-listview-filter"]
	path = components/fox-listview-filter
	url = https://github.com/foxui/fox-listview-filter.git
[submodule "components/fox-calendar"]
	path = components/fox-calendar
	url = https://github.com/foxui/fox-calendar.git
[submodule "components/fox-ajax"]
	path = components/fox-ajax
	url = https://github.com/foxui/fox-ajax.git
[submodule "components/fox-page"]
	path = components/fox-page
	url = https://github.com/foxui/fox-page.git
[submodule "components/fox-global-nav"]
	path = components/fox-global-nav
	url = https://github.com/foxui/fox-global-nav.git
[submodule "components/fox-page-content"]
	path = components/fox-page-content
	url = https://github.com/foxui/fox-page-content.git
[submodule "components/fox-toolbar"]
	path = components/fox-toolbar
	url = https://github.com/foxui/fox-toolbar.git
[submodule "components/fox-tabbar"]
	path = components/fox-tabbar
	url = https://github.com/foxui/fox-tabbar.git
