body {
	line-height: 1.4em;
}
fox-slider fox-slider-item {
	position: relative;
}
.slider-box {
	display: block;
	-webkit-transform: translate3d(0,0,0)
}
.slider-box .img, .slider-box a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.slider-box .img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.slider-box .title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0,0.7);
	z-index: 1;
	padding: 0 10px;
	color: #fff;
	font-size: 14px;
}
.app-group {
	border-bottom: 1px solid #C2CCD1;
	padding-bottom: 10px;
}
.app-group-hd {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.app-group-name {
	margin-left: 10px;
}
.app-group-bd {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	overflow: auto;
}
.app-item {
	width: 80px;
	text-align: center;
}
.app-item .thumbnail {
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	border-radius: 10px;
}
.app-item p {
	font-size: 12px;
	padding: 0;
	margin: 0;
	height: auto;
	line-height: 1.4em;
}
.app-item p.name {
	max-height: 2.8em;
	text-overflow: ellipsis;
	overflow:hidden;
	color: #333;
}

.app-list-item {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	padding: 10px 0;
	position: relative;
}

.app-list-item .left {
	width: 40px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-justify-content: center;
}

.app-list-item .no {
	display: block;
	-webkit-box-flex: 1.0;
	text-align: center;
	color: #777;
	font-size: 13px;
}

.app-list-item .center {
	-webkit-box-flex: 1.0;
	display: -webkit-box;
}

.app-list-item .thumbnail {
	display: block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
}

.app-list-item .detail {
	-webkit-box-flex: 1.0;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-align-items: center;
	padding: 0 10px;
}

.app-list-item .right {
	width: 80px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-align-items: center;
}
.app-list-item .right-inner {
	-webkit-box-flex: 1.0;
	text-align: center;
}
.app-list-item p {
	margin: 0;
}
.app-list-item .price {
	padding: 5px;
	border: 1px solid #1284ff;
	border-radius: 5px;
	font-weight: bold;
}
.app-list-item .name {
	color: #333;
	font-size: 14px;
}

.app-list-item .type, .app-list-item .price {
	font-size: 12px;
}
.app-list-item .sep {
	margin-left: 15px;
	height: 1px;
	background: #CCCCCC;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 1px;
}
fox-page-content {
	position: relative;
}
fox-page-content fox-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.bottom-loading {
	overflow: hidden;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	display: block;
}
.cat-item {
	-webkit-box-align: center;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	padding: 5px 0 5px 15px;
	position: relative;
}

.cat-item .thumbnail {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: block;
	border-radius: 10px;
}

.cat-item .name {
	-webkit-box-flex: 1.0;
	display: block;
	margin-left: 15px;
	color: #333;
}
.cat-item .icon-check {
	margin-right: 5px;
	color: #1284ff;
}
.cat-item .sep {
	margin-left: 15px;
	height: 1px;
	background: #CCCCCC;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 1px;
}
.search-box {
	background: #F7F7F7;
	border-radius: 5px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	padding: 3px;
}
.search-box input {
	-webkit-box-flex: 1.0;
	display: block;
	border: none;
	background: none;
	outline: none;
}
.search-hd{
	background: #E4E4E4;
	border-bottom: 1px solid #DADADA;
	padding: 8px;
}
.search-page{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.search-bd{
	position:relative;
	display:-webkit-box;
	-webkit-box-flex: 1.0;
}
.search-item{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:-webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient: vertical;
}
.search-item .item-row1{
	
	display:-webkit-box;
	padding:10px;
	-webkit-box-orient: horizontal;
}
.search-item .item-row2{
	-webkit-box-flex: 1;
	-webkit-box-align: center;
}
.search-item .left{
	width:80px;
	-webkit-box-align: center;
	display:-webkit-box;
	-webkit-box-pack: center;
}
.search-item .center{
	display:-webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
}
.search-item .detail{
	
}
.search-item p{
	margin:0;
}
.search-item .name{
	overflow: hidden;
	max-height: 2.8em;
}
.search-item .right{
	width:80px;
	-webkit-box-align: center;
	display:-webkit-box;
	-webkit-box-pack: center;
}
.search-item .price{
	padding: 5px;
	border: 1px solid #1284ff;
	border-radius: 5px;
	font-weight: bold;
	font-size:14px;
}
.search-item .name{
	color:#333;
}
.search-item .type{
	font-size:12px;
}
.search-item .thumbnail{
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: block;
	border-radius: 10px;
}

.search-item .item-row2{
	-webkit-box-flex: 1.0;
	position:relative;
	
}

.search-page fox-slider{
	position:absolute;
	left: 0;
	right:0;
	top:0;
	bottom:0;
}

.search-item .img{
	position:absolute;
	left:50px;
	right:50px;
	top:20px;
	bottom:20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: block;
}

.detail-item .row1{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	padding:15px;
}

.detail-item .left{
	
	display:-webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.detail-item .center{
	-webkit-box-flex: 1.0;
	display:-webkit-box;
	margin:0 15px;
}
.detail-item p{
	margin:0;
}
.detail-item .thumbnail {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: block;
	border-radius: 10px;
}
.detail-item .type{
	font-size:12px;
}
.detail-item .name{
	color:#333;
	font-size:16px;
}
.detail-item .right{
	display:-webkit-box;
	-webkit-box-align: end;
	-webkit-box-pack: center;
}
.detail-item .price{
	padding:5px;
	font-size:12px;
	border-radius:5px;
	border:1px solid #1284ff;
}
.detail-item .row2{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	overflow:auto;
	padding:10px 5px;
	background:#F8F8F8;
	border:1px solid #CCCCCC;
}
.detail-item .img{
	display:block;
	width:250px;
	height:400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin:0 5px;
}
