.hide {
  display: none; }

.wl .write-box {
  width: 100%;
  height: 140px;
  background: #fff;
  position: absolute;
  text-align: center;
  top: -150px;
  z-index: 11;
  border-bottom: 1px solid #ddd; }
  .wl .write-box .write-text {
    outline: none;
    position: relative;
    width: 90%;
    height: 100px;
    top: 20px;
    resize: none;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px; }
.wl .wl-list {
  margin-top: 10px; }
  .wl .wl-list li .item-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
